.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.header__info {
  display: flex;
  column-gap: 24px;
}

.header__logo-link {
  height: 0;
}

.header__logo {
  width: 89px;
  height: 40px;
}

.header__date-location {
  font-family: CabinetGrotesk, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;

  align-content: center;
  margin: 0;
  padding: 0;
}

.header__clothes-btn {
  font-family: CabinetGrotesk, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;

  background: none;
  border: none;

  width: max-content;
  margin: 0;
  padding: 0;

  cursor: pointer;
}

.header__clothes-btn_type_menu-closed {
  display: block;
}

.header__menu {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  row-gap: 24px;
  column-gap: 20px;
}

.header__menu-btn {
  position: absolute;
  top: 0;
  right: 0;
  display: none;

  width: 28px;
  aspect-ratio: 1;

  padding: 0;
  margin: 8px;
  border: none;
  background: none;

  cursor: pointer;

  opacity: 0.3;

  background-color: #000000;
  mask-image: url("../../images/Hamburger.svg");
  mask-repeat: no-repeat;
  mask-position: center;
}

.header__menu-btn_opened {
  width: 21px;
  margin: 11px;

  mask-image: url("../../images/Exit.svg");
  mask-repeat: no-repeat;
  mask-position: center;
}

.header__menu-btn:hover {
  opacity: 1;
}

.header__user {
  display: flex;
  width: max-content;
  gap: 12px;
  text-decoration: none;
}

.header__user_type_menu-closed {
  display: flex;
}

.header__name {
  font-family: CabinetGrotesk, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.24;

  align-content: center;
  margin: 0;
  padding: 0;

  color: #000000;
}

.header__signin-btn {
  font-family: CabinetGrotesk, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;

  padding: 0;
  margin: 0;
  border: none;
  background: none;

  cursor: pointer;
}

.header__signup-btn {
  font-family: CabinetGrotesk, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;

  padding: 0;
  margin: 0;
  border: none;
  background: none;

  cursor: pointer;
}

.header__avatar {
  height: 40px;
  width: 40px;
  border: 1px solid #00000080;
  border-radius: 100%;
  box-sizing: border-box;
  background: #00000033;
  overflow: hidden;
  position: relative;
}

.header__avatar-image {
  width: 100%;
  height: 100%;
  display: none;
}

.header__avatar-char {
  font-family: CabinetGrotesk, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.24;
  color: #ffffff;

  margin: 0;
  padding: 0;

  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);

  text-align: center;
  align-content: center;
}

@media screen and (width < 768px) {
  .header__info {
    flex-direction: column;
    row-gap: 32px;
  }

  .header__logo {
    margin: 2px 0;
  }

  .header__menu {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    width: 44px;
    height: 44px;
  }

  .header__menu_opened {
    position: absolute;
    width: 100%;
    height: 208px;
    z-index: 1;

    width: 100%;
    height: 208px;

    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
  }

  .header__menu-btn {
    display: block;
  }

  .header__clothes-btn_type_menu-closed {
    display: none;
  }

  .header__user_type_menu-closed {
    display: none;
  }
}
