.clothes-section {
  width: 100%;
  list-style: none;
  display: grid;
  justify-content: flex-start;
  grid-template-columns: repeat(
    auto-fit,
    minmax(0, min(100%/2 - 20px * 1 / 2, max(320px, 100%/4 - 20px * 3 / 4)))
  );
  grid-gap: 20px 20px;
  margin: 0;
  padding: 0;
}

@media screen and (width < 768px) {
  .clothes-section {
    grid-template-columns: repeat(
      auto-fit,
      minmax(0, min(100%/2 - 15px * 1 / 2, max(320px, 100%/4 - 16px * 3 / 4)))
    );
    grid-gap: 16px 15px;
    margin: 0;
  }
}
